@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300;400;500;600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  outline: none;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  font-family: 'Kanit', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Assistant', sans-serif;
}

.nav-item {
  transition: color 0.3s ease;

  &:hover {
    @apply text-primary;
  }
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

img {
  object-fit: cover;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}
