@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300;400;500;600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  outline: none;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  font-family: 'Kanit', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Assistant', sans-serif;
}

.nav-item {
  transition: color 0.3s ease;

  &:hover {
    @apply text-primary;
  }
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

img {
  object-fit: cover;
}

%selected {
  @apply text-white bg-black;
}

.input-div {
  @apply w-full;

  .checkbox-label {
    &::before {
      content: '';
      @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-3 h-3 bg-black rounded-full invisible;
    }
  }

  .check-input {
    &:checked + label {
      span {
        background: white;
        &::before {
          content: '';
          @apply visible;
        }
      }
    }
  }

  &.radx {
    @apply m-0;

    .rad_options {
      // @apply h-4;

      &::before {
        content: '';
        box-shadow: 0 0 0 2px #26a595;

        @apply w-4 h-4 rounded-full absolute left-0 transform top-1/2 -translate-y-1/2;
      }

      &.selected {
        &::before {
          content: '';
          @apply bg-primary border-2 border-white;
        }
      }
    }
  }

  &.select_op {
    &[disabled] {
      .currentValue {
        color: grey;

        &.arrow {
          &::after {
            color: grey !important;
          }
        }
      }
    }
  }

  .input {
    .input-type {
      @apply z-0 bg-transparent w-full text-sm p-2 outline-none;
    }

    .select {
      .search-input {
        &::before {
          @apply absolute bg-white h-2.5;
          content: '';
          top: -11px;
          left: -8px;
          width: calc(100% + 16px);
        }
      }

      .currentValue {
        outline: none;
        min-height: 20px;

        &::before {
          content: '';
          @apply absolute left-0 top-1/2 transform -translate-y-1/2 w-full h-full;
        }

        &.arrow {
          &::after {
            content: '\25BC';
            position: absolute;
            @apply text-xs text-black right-2.5 top-1/2 transform -translate-y-1/2;
          }
        }

        p {
          margin-bottom: 0;
          min-height: 0.85em;
        }

        img {
          margin-left: 10px;
          width: 10px;
          height: 15px;
        }
      }

      .dropDownButtons {
        padding: 5px 8px 10px;
        transition: visibility 0.4s ease, top 0.3s ease, opacity 0.2s ease;
        transform-origin: top;
        max-height: 400px;
        background: white;

        &:hover {
          overflow-y: scroll;
        }

        .options {
          &:hover {
            @apply bg-black-0.4;
          }
        }

        .selected {
          @extend %selected;
        }

        &.open-drop {
          @apply visible opacity-100 mt-10;
        }
      }
    }

    .reviel-password {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;

      svg {
        @apply fill-current text-black w-5 h-5;
      }
    }
  }

  .input-con {
    //use shadow to see border
    @apply rounded-md z-0 relative border border-black transition-all duration-300 ease-in;

    input:focus {
      @apply border-primary;
    }

    &.typing {
      .grow {
        &::after {
          @apply bg-black w-full;
        }
      }
    }

    &.valid {
      @apply border-primary;
    }

    &.invalid {
      @apply border-red-500;
    }
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}
