.form input {
  /* padding-top: '3px'; */
  background-color: rgb(226 232 240);
  /* border-bottom: solid 2px; */
  /* padding-top: 4px; */
  /* margin-top: 5px; */
}

.form h1 {
  margin-top: 7px;
  font-weight: 600;
}

.form {
  font-family: 'Times New Roman', Times, serif;
  /* font-size: 14px; */
}

.form p {
  position: relative;
  top: 10px;
}

.reciept input {
  border-bottom: solid 2px black;
}

@media (max-width: 400px) {
  .form input {
    width: 100%;
    display: flex;
  }
  .form span {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .form div {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
