/* body {
  font-family: "Assistant", sans-serif;
} */

.navbar li {
  list-style: none;
}

.navbar ul {
  display: flex;
  justify-content: space-around;
}

.navbar a {
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
  color: black;

}

.navbar a:hover {
  color: #f86c57;

}

.navlist {
  display: flex;
  flex-wrap:wrap
}
.ttitle{
  display:none
}


.mainpic {
  display: flex;
  justify-content: center;
  background-image: url("../public/background.png");
  background-size: cover;
  flex-direction: column;
  font-family: "Assistant", sans-serif;
  align-items: center;
}

.logo {
  margin-top: 50px;
  width: 203px;
}
.maintext {
  font-size: 57px;
}

.maintext p{
  margin:0px
}

.secondarytext {
  font-size: 16px;
}
.call {
  width: 30%;
  height: 50px;
  background-color: white;
  display: flex;
  align-items: center;
  border-radius: 30px;
  justify-content: center;
}
.info p{
  text-align: center;
}

.info {
  display: flex;
  justify-content: space-around;

  margin-left: 100px;
  margin-right: 100px;
  margin-top: 50px;
}

.info span {
  width: 30%;
}

.info img {
  width: 100%;
}

.info div{
  display: flex;
  justify-content: center
}

.info button {
  width: 80%;
  height: 40px;
  border-radius: 30px;
  margin-top: 10px;
  color: white;
  background-color: black;
  justify-content: center;
  display: flex;
  align-items: center;
}

.info button:hover {
  color: orangered;
}

.bottomimage {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 100px;
  background-image: url("../public/bar.png");
  margin-top: 50px;
  display: flex;
}

.bottom {
  margin-top: 50px;

  background-color: #f86c57;
  display: flex;
  justify-content: center;
}

.button {
  height: 40px;
  width: 100px;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
}

.pink {
  color: #fc6c57;
}

.banner h1 {
  background-color: #fc6c57;
  color: white;
  padding: 50px;
  font-size: 36px;
  margin: 0px;
}

.post {
  background-color: black;
  color: white;
  display: flex;
  padding: 0px 0px 0px 100px;
  text-align: left;
  font-size: 12px;
  justify-content: center;
}

.download {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 50px 0px 0px 50px;
}
.download img {
  height: 150px;
  position: relative;
  right: 100px;
}

.download a {
  text-decoration: none;
  color: #00ceff;
  font-size: 12px;
}

/* h1 {
  font-size: 30px;
} */

.bail {
  display: flex;
  text-align: left;
  justify-content: space-around;
  padding: 30px 50px 50px 50px;
  font-size: 12px;
  flex-wrap: wrap;
}

.links {
  display: flex;
  flex-direction: column;
}

.links a {
  text-decoration: none;
  color: red;
}

.bail form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
}

.bail input {
  border-radius: 5px;
  margin-top: 10px;
  width: 60%;
  height: 20px;
}

.bail button {
  width: 62%;
  border-radius: 50px;
  background-color: black;
  color: white;
  margin-top: 10px;
}

.resources button {
  display: block;
  border-radius: 20px;
  margin-top: 5px;
  background-color: white;
  color: black;
  width: 175px;
  height: 30px;
}

.resources {
  width: 50%;
  padding: 50px 0px 0px 150px;
}

.case {
  display: flex;
  text-align: left;
  justify-content: center;
  flex-wrap: wrap;
  
}
.case h2 {
  color: red;
  font-size: 16px;
}

.case p {
  font-size: 12px;
}

.case img {
  width: 200px;
  height: 150px;
  background-color: gray;
  margin: 20px;
}

.cases{
  width:50%;
  padding: 0px 0px 0px 100px;
  

}
.greenbutton{
                background-color: green;
                position: relative;
                left: 140px;
                bottom: 60px;
              }

.blackbutton{
                background-color: black;
                position: relative;
                left: 140px;
                bottom: 60px;
              }
.resourcebutton {
  position: relative;
}
.resourcebutton button {
  width: 80%;
  height: 40px;
  border-radius: 20px;
  color: white;
  border: none;
}

.bailfooter {
  display: flex;
  justify-content: center;
  background-color: #fc6c57;
  flex-wrap: wrap;
}

.bailfooter h1 {
  color: white;
  font-size: 24px;
}

.togglebutton{
  position:absolute;
  right:1rem;
  display:none;
}

@media (max-width: 700px) {
  .info {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .ttitle {
    display: flex;
    flex-direction: column;
  }

  .navbar li {
    font-size: 10px;
  }

  .navbar a {
    margin-left: 0;
  }
  .logo {
    width: 80%;
    height: 80%;
  }

  .maintext {
    font-size: 24px;
  }
  .secondarytext {
    font-size: 12px;
  }

  .call {
    height: 100%;
    font-size: 12px;
  }

  .info img {
    margin-top: 10px;
  }
  .post {
    background-color: black;
    color: white;
    display: flex;
   
    text-align: left;
    font-size: 12px;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0px;
}

.resources {
    width: 80%;
    padding: 0px 0px 0px 0px;
}
.download{
  width: 80%;
  padding: 0px 0px 0px 5px;
}
.resourcebutton{
  position: relative;
  top:0px;
  left:0px
}


.cases{
  padding:0px;

}

.greenbutton{
  position: relative;
  top:0px;
  left:0px
}
.blackbutton{
  position: relative;
  top:0px;
  left:0px
}
.download img{
 
    height: 150px;
    position: relative;
    right: 0px;
}
.bail input{
  width: 100%;
}
.bail form{
  width: 100%;
}
.togglebutton{
  position:absolute;
  right:1rem;
  display:flex;
  background:none;
  border: none;
  color:#fc6c57
}



.navbar ul{
  flex-direction: column;
  width: 100%;
}

.navbar{
  display: none;
}

.tnavbar{
  width:100%;
  display: flex;
  flex-wrap: wrap;
}
.tnavbar ul{
  list-style: none;
      width: 100%;
    padding: 0;
}

.navlist {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.navlist a{
  text-decoration: none;
  color:black

}
.navlist a:hover{
  text-decoration: none;
  color:#fc6c57

}
}
